body {
  background-color: #f6f6f6;
}

.nav-sidebar {

}

.sidebar .nav>li>a {
  padding: 0px;
}

.sidebar {
  position: fixed;
  top: 0px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  width: 230px;
}

hr {
  margin-top: 10px;
  margin-bottom: 0px;
}

.nav-indented li{
  margin-left: 10px;
}

.main {
  margin-left: 200px;
}

form {width: 300px;}

.container .jumbotron, .container-fluid .jumbotron{
  padding-top: 1px;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 1px;
}

.left {
  border: 1px solid #cef2e0;
  background: #f5fffa;
}

.left .jumbotron {
  background: #cef2e0;
  border: 1px solid #a3bfb1;
}

.right {
  border: 1px solid #cedff2;
background: #f5faff;
}

.right .jumbotron {
  background: #cedff2;
  border: 1px solid #a3b0bf;
}

.container-fluid p{
  padding: 0 10px 10px 10px;
}

.container-fluid img {
  padding: 0 10px 10px 10px;
}

.featured-img {
  margin-right: -50px;
}
.middle .jumbotron {
  background: #ddcef2;

}
.middle{
  border: 1px solid #afa3bf;
  background: #faf5ff;
  margin-top: 10px;
}

.middle .col-md-9 {
  padding-top: 150px;
  padding-bottom:150px;
}

.white {
  background-color: white;
}

.navbar {
  margin-bottom: 0px;
}
